/*
    soft-blue: #eff4f8
    dark-blue: #195894
    orange: #ff8200
    green: #87aa6b;
    black: #192b39;
*/
.container {
    width: 90%;
}
.blue {
    background-color: #195894 !important;
}
@media only screen and (min-width: 992px) {
    .left-col .card-wrapper {
        padding-right: 20px;
    }  
}

@media only screen and (min-width: 992px) {
    .top-nav {
        position: absolute;
        top: 73px;
    }
    .top-address-phone {
        position: absolute;
        top: 140px;
    }
}
@media only screen and (max-width: 1088px) {
    .triangle_big {
        display: none;
    }
}
body {
    background-color: #eff4f8;
}
.triangle_big_cut {
    display: none;
}
@media only screen and (min-width: 993px) and (max-width: 1088px) {
    .triangle_big_cut {
        display: initial;
        margin-bottom: -7px;
    }
}
.top-nav, .top-nav .nav-wrapper i, .top-nav a.button-collapse, .top-nav a.button-collapse i {
    height: 69px !important;
    line-height: 69px !important;
}
.logo {
    padding-top: 20px;
    max-width: 80%;
}
.top-nav i {
    font-size: 2.5em !important;
    margin: 0px 10px;
}
.top-menu li {
    cursor: pointer;
}
.top-menu a:hover, .top-menu a.active{
    color: #ff8200;
}
@media only screen and (max-width: 992px) {
    .top-address-phone div{
        float: left;
        margin: 20px;
    }
    .top-address-phone{
        display: inline-block;
    }  
}
.top-address {
    font-size: 1.4em;
    margin-top: 5px
}
.top-phone {
    font-size: 2.5em;
    color: #195894;
}
#search {
    float: left;
    width: 50%;
}
.search-bar {
    position: relative;
    margin-top: 5px;
}
.search-icon {
    color: #ccc;
    font-size: 30px;
    position: absolute;
    left: 10px;
    top: 3px;
}
.more-tip {
    display: none;
    position: absolute;
    top: 100;
    left: 100;
    z-index: 100;
}
.more-tip-body {
    margin-top: -15px;
    box-shadow: 5px 10px 5px 0 rgba(0,0,0,0.2);
    border: 1px solid #ccc;
    border-top: 0px;
    background-color: white;
}
.user-menu-tip .more-tip-body {
    border: 1px solid #195894;
    border-top: 0px;
}
.more-tip ul {
    margin: 0px;
}
.more-tip li {
    padding: 15px 25px;
    background-color: white;
    color: #192b39;
    cursor: pointer;
}
.side-nav a {
    background-color: white;
    color: #192b39;
    height: auto;
}
.side-nav li {
    padding: 10px 15px;
}
.more-tip li:hover, .side-nav a:hover {
    background-color: #eff4f8;
    font-weight: 500;
}
.black-stripe {
    margin-top: 5px;
    height: 4px;
    background-color: black;
}
.content {
    padding-top: 3px;
}
.left-col, .right-col {
    padding: 0px !important;
}
.card-wrapper {
    margin-top: 5px;
}
.card-bottom {
    color: #195894;
    text-align: center;
}
.card-bottom i {
    cursor: pointer;
}
.card-head, .card-body {
    border: 1px solid #ccc;
    background-color: white;
}
.card-head {
    margin-bottom: 1px;
    font-size: 28px;
    line-height: 62px;
    color: #192b39;
    padding: 0px 20px;
}
.card-head  img {
    margin-top: 18px;
}
.card-head.drop-head {
    cursor: pointer;
}
.card-body {
    padding: 20px;
    padding-bottom: 10px;
    display: inline-block;
    width: 100%;
}
.card-body .card-body {
    margin-bottom: 20px;
}
.important {
    border: 1px solid #192b39;
}
.important-head {
    color: #ff8200;
    font-weight: bold;
    font-size: 1.1em;
}
.card-body.menu {
    padding: 20px 0px;
}
.menu ul {
    padding: 0px;
    margin: 0px;
    padding-left: 30px;
    background-color: #eff4f8;
}
@media only screen and (max-width: 992px) {
    .menu ul {
        display: none;
    }
}
.menu i {
    float: right;
    margin-right: 20px;
}
.menu-item {
    display: block;
    padding: 10px 5px;
    padding-left: 20px;
    cursor: pointer;
}
.menu-item.menu-header a{
    color: #192b39;
}
.menu-item.active, .menu-item:hover{
    font-weight: bold;
}
.card-item {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin-bottom: 20px;
}
.card-item-body {
    padding: 20px;
    padding-bottom: 0px;
    display: inline-block;
    width: 100%;
}
.card-item-bottom {
    background-color: #eff4f8;
    color: #195894;
    text-align: center;
    width: 100%;
    cursor: pointer;
}
.card-item-bottom i {
    font-size: 2em;
}
.toggle-form {
    display: none;
}
.vert-stick {
    color: #ff8200;
    font-weight: bold;
    margin: 0px 5px;
}
.cart-item-info, .goods-item-info {
    display: inline-block;
    width: 100%;
    margin: 1em 0em;
}
.goods-item-info-short {
    width: auto;
    margin: 1em 0em;
}
.cart-item-info i, .goods-item-info-short i {
    font-size: 36px;
    margin-left: 30px;
}
.goods-img {
    padding: 10px;
    float: left;
    border: 1px solid #ccc;
    margin-right: 20px;
}
.goods-price {
    color: #87aa6b;
    font-size: 28px;
    float: left;
}

.goods-count-container {
    width: 140px;
    float: right;
}
input.goods-count {
    width: 100%;
    border: 1px solid #ccc;
    text-align: right;
    padding-right: 10px;
    color: #87aa6b;
    font-size: 20px;
}
input.goods-count::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #87aa6b;
    opacity: 1; /* Firefox */
  }
  
input.goods-count:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #87aa6b;
}

input.goods-count::-ms-input-placeholder { /* Microsoft Edge */
    color: #87aa6b;
}
input.goods-count.supply {
    color: #195894;
    text-align: center;
}
input.goods-count.empty {
    color: red;
    text-align: center;
}
.goods-in-cart-count {
    margin-top: -18px;
    font-size: 12px;
    float: right;
}
.cart-count-wrapper input.goods-count {
    color: #195894;
}
input.goods-count.track {
    padding: 0px 15px;
    float: none;
    max-width: 30%;
    margin-bottom: 0px;
}
.goods-price.track {
    display: inline-block;
    float: none;
}
.user-block {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}
.user-block td {
    padding: 5px;
}
.track-title {
    font-weight: bold;
    font-size: 1.2em;
}
.track-span {
    font-size: 1.5em;
    margin-top: 5px;
    margin-right: 5px;
}
.track-not-status-img {
    margin-top: 5px;
}
.blue-text {
    color: #195894 !important;
}
.green-text {
    color: #87aa6b !important;
}
.red-text {
    color: red;
}
.history-title {
    font-size: 1.7em;
    font-weight: bold;
}
.history-date {
    color: #195894;
}
.history-sum {
    font-size: 1.5em;
}
.cart {
    position: relative;
}
.cart-length {
    position: absolute;
    top: -24px;
    left: 1.6em;
    font-weight: bold;
    font-size: 1.2em;
    color: #ff8200;
    text-shadow: 1px 1px 2px black, 0 0 1em #ccc;
}
.cart-icon {
    color: #195894;
    font-size: 36px;
}
.cart-icon.empty {
    color: #ccc;
    cursor: initial;
}
.cart-price {
    color: #87aa6b;
    font-size: 2em;
    display: inline-block;
}
.cart-result-sum {
    font-size: 2em;
    font-weight: bold;
    padding-bottom: 20px;
}
.cart-result-sum-price {
    color: #87aa6b;
}
.cart-result-resum {
    color: #195894;
    font-size: 1.5em;
    cursor: pointer;
}
.cart-count-wrapper {
    float: right
}
.good-card-lable {
    font-size: 1.4em;
    line-height: 2.3em;
    color: #192b39;
    margin-right: 20px;
}
.delete-from-cart {
    float: right;
    font-size: 1em;
    color: #195894;
}
.delete-from-cart:hover {
    color: #ff8200;
    cursor: pointer;
}
.card-item-bottom.cart-bottom {
    text-align: left;
    padding: 5px 20px;
    font-weight: bolder;
    font-size: 1.2em;
    color: #192b39;
}
.cart-bottom .sum-price {
    color: #195894;
}
.card-more-info {
    display: none;
}
.card-more-info table {
    margin-bottom: 10px;
}
.card-more-info td{
    padding: 0px;
}
.card-more-info p{
    margin-bottom: 10px;
}
.param-item {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
}
.param-item b {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}
input.param-box {
    border: 1px solid #ccc;
    float: left;
    color: #87aa6b;
    font-size: 1.5em;
    text-indent: 10px;
    display: block;
}
input.param-box-integer {
    width: 44%;
}
input.param-box-varchar {
    width: 99%;
}
.param-stick {
    width: 10%;
    display: block;
    text-align: center;
    font-size: 3em;
    float: left;
    line-height: 3rem;
}
.bread {
    font-size: 16px;
    font-weight: bold;
}
.bread-quote {
    color: #ff8200;
    margin: 0px 4px;
}
.contacts tr td:first-child {
    width: 20%;
}
.contacts tr td:last-child {
    width: 80%;
}
.special b {
    color: #195894;
}
.special span {
    color: #ff8200;
}
.head-icon {
    float: right;
    font-size: 48px;
    color: #888;
    margin-top: 7px;
}
.cabin_icon {
    color: #195894;
    cursor: pointer;
}
.cabin_icon.active, .cabin_icon:hover {
    color: #ff8200;
}

.history-more {
    display: none;
}
.history-loupe {
    cursor: pointer;
}
.order-table {
    border-collapse: initial;
    border-spacing: 5px;
    margin-bottom: 20px;
}
.order-table th {
    padding: 10px;
    background: #195894;
    color: white;
    border: 1px solid #195894;
    text-align: center;
}
.order-table th:first-child {
    text-align: left;
}
.order-table td {
    padding: 10px;
    border: 1px solid #ccc;
}
.order-table td:nth-child(3n), .order-table td:nth-child(4n) {
    text-align: center;
}
.order-table tr {
    cursor: pointer;
}
.order-table tr:nth-child(2n) {
    background: #eff4f8;
}
.order-table tr.filter-string {
    background: white;
}
.order-table tr.active {
    background: #195894;
    color: white;
}
.order-table .filter-string td {
    padding: 0px;
    margin: 0px;
    border: none;
}
.order-table .filter-string input {
    margin-bottom: 0px; 
}
.delete-order, .back-to-order {
    cursor: pointer;
}
.error-block {
    font-size: 12px;
    color: red;
    margin-top: -18px;
    margin-bottom: 18px;
    display: block;
}
.remember-box {
    float: right;
    margin-top: 5px;
    margin-right: 10px;
}
footer {
    text-align: center;
    border-top: 5px solid black;
}
.footer_social img {
    padding: 20px;
}
.footer_copyright {
    border-bottom: 6px solid #8c959c;
    color: #8c959c;
    font-size: 1.1em;
    font-weight: bolder;
    margin-bottom: 20px;
    padding: 10px;
}
.footer_logo {
    padding-bottom: 20px;
}

/* ADMIN */

.tabs .tab a {
    color: #ff8200;
}

.edit-news-item {
    padding: 15px 10px;
    cursor: pointer;
    font-weight: bold;
}
.edit-news-item.active, .edit-news-item:hover {
    background: #195894;
    color: white;
}
.edit-news-item-more {
    display: none;
    margin-top: 10px;
    border-bottom: 1px solid black;
}
.user-actions {
    display: none;
}