/*
    colors:
    blue: #0a6cce;
    #0a6cce
*/
                                        /* main part */
.main-container {
    padding: 10px;
    padding-top: 0px;
}
.user {
    display: block;
    float: right;
    color: #0a6cce;
    text-decoration: underline;
    font-size: 20px;
    margin-right: 20px;
    margin-left: 20px;
}
.new-goods-item-title {
    border-bottom: 1px solid #e5e5e5;
}
.to-cart {
    cursor: pointer;
}
.order-params {
    display: none;
}